myenv
frontend/node_modules
test.db
frontend
backendSKKMigas
docker-compose.yml
Dockerfile.backend
Dockerfile.frontend
Dockerfile.req
.dockerignore
.venv
.vscode

app/__pycache__

# Ignore Python bytecode directories
__pycache__



